# Compiled class file
*.class
# Log files
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# compiled output
build
target
bin
# JavaScript Stuff
node_modules
.tern-project
# IDEs and editors
.idea
*.iml
.project
.classpath
.metadata
.recommenders
RemoteSystemsTempFiles/
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode
# IDE - VSCode
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# misc
/.sass-cache
/connect.lock
/coverage/*
/typings
# e2e
/e2e/*.js
/e2e/*.map
#System Files
.DS_Store
Thumbs.db
stashed-config
*.ini
# Unignored Files (that's what the "!" does)
!ojdbc7.jar
rideshare/.project
rideshare/.settings
rideshare/target
rideshare/.idea
rideshare/.vscode
rideshare/.vscode/*
rideshare/.vscode/settings.json
rideshare/.vscode/tasks.json
rideshare/.vscode/launch.json
rideshare/.vscode/extensions.json
Servers*
/rideshare-slack-api-tokens.txt
/rideshare/node_modules
/rideshare/**/index.js
/slack-testapp-tokens.txt
/rideshare/src/main/webapp/static/app.bundle.js
/rideshare/src/main/webapp/static/main.bundle.js
/rideshare/RideShare.log
/rideshare/src/main/resources/static
/rideshare/.classpath
/rideshare/.factorypath
/rideshare/.springBeans
/rideshare/build.sh
/rideshare/setup.sh
rideshare/deploy-keystore.p12
rideshare/keystore.p12
rideshare/deploySpringBootApp.sh
rideshare/startSpringBootApp.sh
