
<!-- Tabs that display active rides and ride history for a user -->
<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#active"
			aria-controls="active" role="tab" data-toggle="tab" target="_self">Active</a></li>
		<li role="presentation"><a href="#history" aria-controls="history"
			role="tab" data-toggle="tab" target="_self">History</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="active">
		
		<!-- html and angular function used to display open rides -->
		<ul style = "list-style-type: none;">
		
		<li ng-if="activeRides.length == 0">
			No active rides
		</li>
		
		<li ng-repeat="ride in activeRides">
		
		Time: {{ride.availRide.time}}<br>
		Pick up at: {{ride.availRide.pickupPOI.poiName}}, {{ride.availRide.pickupPOI.addressLine1}} <br>
		Drop off at: {{ride.availRide.dropoffPOI.poiName}}, {{ride.availRide.dropoffPOI.addressLine1}}<br>
		Driver: {{ride.availRide.car.user.firstName}} {{ride.availRide.car.user.lastName}}<br>
		Driver note: {{ride.availRide.car.notes}} <span ng-show =" ride.availRide.car.notes == null"> n/a </span> <br>
		Rider: {{ride.request.user.firstName}} {{ride.request.user.lastName}}<br>
		Rider note: {{ride.request.notes}} <span ng-show =" ride.request.notes == null"> n/a </span> <br>
		Compliant: {{ride.compliant}} <span ng-show =" ride.compliant == null"> n/a </span> 

		<br>
		<br>

		</li>

		</ul>
		
	</div>
	
	<div role="tabpanel" class="tab-pane" id="history">
		
		
		<ul style = "list-style-type: none;">
		
		<li ng-if="pastRides.length == 0">
			No ride history
		</li>
		
		
			
		<li ng-repeat="ride in pastRides">
		
		Time: {{ride.availRide.time}}<br>
		Pick up at: {{ride.availRide.pickupPOI.poiName}}, {{ride.availRide.pickupPOI.addressLine1}} <br>
		Drop off at: {{ride.availRide.dropoffPOI.poiName}}, {{ride.availRide.dropoffPOI.addressLine1}}<br>
		Driver: {{ride.availRide.car.user.firstName}} {{ride.availRide.car.user.lastName}}<br>
		Driver note: {{ride.availRide.car.notes}} <span ng-show =" ride.availRide.car.notes == null"> n/a </span> <br>
		Rider: {{ride.request.user.firstName}} {{ride.request.user.lastName}}<br>
		Rider note: {{ride.request.notes}} <span ng-show =" ride.request.notes == null"> n/a </span> <br>
		Compliant: {{ride.compliant}} <span ng-show =" ride.compliant == null"> n/a </span> 

		<br>
		<br>

		</li>

		</ul>
		
	</div>

</div>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Make offer
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
               				<input type="text" ng-model="offer.pickupPOI.POIname" placeholder="Pickup Location"/> <br>
					<input type="text" ng-model="offer.dropoffPOI.POIname" placeholder="Destination"/> <br>
					<input type="text" ng-model="offer.car.notes" placeholder="notes"/> <br>
					<input type="text" ng-model="offer.car.model" placeholder="Car Model"/> <br>
					<input type="text" ng-model="offer.car.color" placeholder = "Car Color"/> <br>
					<input type="datetime-local" ng-model="offer.time" placeholder = "time"/> <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


