
<!-- Tabs that display active rides and ride history for a user -->
<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#active"
			aria-controls="active" role="tab" data-toggle="tab" target="_self">Active</a></li>
		<li role="presentation"><a href="#history" aria-controls="history"
			role="tab" data-toggle="tab" target="_self">History</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="active">
		
		<!-- html and angular function used to display open rides -->
		<ul style = "list-style-type: none;">
		
		<li ng-if="activeRides.length == 0">
			No active rides
		</li>
		
		<li ng-repeat="ride in activeRides">
		
		Time: {{ride.availRide.time}}<br>
		Pick up at: {{ride.availRide.pickupPOI.poiName}}, {{ride.availRide.pickupPOI.addressLine1}} <br>
		Drop off at: {{ride.availRide.dropoffPOI.poiName}}, {{ride.availRide.dropoffPOI.addressLine1}}<br>
		Driver: {{ride.availRide.car.user.firstName}} {{ride.availRide.car.user.lastName}}<br>
		Driver note: {{ride.availRide.car.notes}} <span ng-show =" ride.availRide.car.notes == null"> n/a </span> <br>
		Rider: {{ride.request.user.firstName}} {{ride.request.user.lastName}}<br>
		Rider note: {{ride.request.notes}} <span ng-show =" ride.request.notes == null"> n/a </span> <br>
		Compliant: {{ride.compliant}} <span ng-show =" ride.compliant == null"> n/a </span> 

		<br>
		<br>

		</li>

		</ul>
		
	</div>
	
	<div role="tabpanel" class="tab-pane" id="history">
		
		
		<ul style = "list-style-type: none;">
		
		<li ng-if="pastRides.length == 0">
			No ride history
		</li>
		
		
			
		<li ng-repeat="ride in pastRides">
		
		Time: {{ride.availRide.time}}<br>
		Pick up at: {{ride.availRide.pickupPOI.poiName}}, {{ride.availRide.pickupPOI.addressLine1}} <br>
		Drop off at: {{ride.availRide.dropoffPOI.poiName}}, {{ride.availRide.dropoffPOI.addressLine1}}<br>
		Driver: {{ride.availRide.car.user.firstName}} {{ride.availRide.car.user.lastName}}<br>
		Driver note: {{ride.availRide.car.notes}} <span ng-show =" ride.availRide.car.notes == null"> n/a </span> <br>
		Rider: {{ride.request.user.firstName}} {{ride.request.user.lastName}}<br>
		Rider note: {{ride.request.notes}} <span ng-show =" ride.request.notes == null"> n/a </span> <br>
		Compliant: {{ride.compliant}} <span ng-show =" ride.compliant == null"> n/a </span> 

		<br>
		<br>

		</li>

		</ul>
		
	</div>

</div>

</div>


