<div id="map" style="height: 400px; width: 100%;"></div>

<div class="container">
	<div class="row">
		<div class="col">

			<div class="input-group">
				<span class="input-group-addon">Starting Point</span> <select
					id="fromPOI" class="form-control">
					<option ng-repeat="x in allMainPOI" ng-selected="start{{ x.poiId }}">{{
						x.poiName + " - " + x.addressLine1 }}</option>
				</select>
			</div>

			<div class="input-group">
				<span class="input-group-addon">Destination</span> <select
					id="toPOI" class="form-control">
					<option ng-repeat="x in allMainPOI" ng-selected="destination{{ x.poiId }}">{{ 
					x.poiName + " - " + x.addressLine1 }}</option>
				</select>
			</div>

		</div>
	</div>
</div>

<p id="display"></p>

<div class="container">
	<button ng-click="getActiveRequests()" class="btn btn-primary">Active
		Requests</button>
	<button ng-click="getRequestHistory()" class="btn btn-primary">Request
		History</button>
	<button ng-click="clearMapMarkers()" class="btn btn-primary">Clear Map</button>
</div>

<script src="../js/googleMapAPI/markerclusterer.js"></script>


<!-- Tabs that display active rides and ride history for a user -->
<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#open"
			aria-controls="open" role="tab" data-toggle="tab" target="_self">Available</a></li>
		<li role="presentation"><a href="#active" aria-controls="active"
			role="tab" data-toggle="tab" target="_self">In Progress</a></li>
		<li role="presentation"><a href="#history"
			aria-controls="history" role="tab" data-toggle="tab" target="_self">History</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		
		<!-- tab that displays open offers that user can accept  -->
		<div role="tabpanel" class="tab-pane active" id="open">

			<!-- Select location to filter available rides -->
			<div class="input-group location-selector">
				<span class="input-group-addon">Location</span>
				<select class="form-control" ng-model="selectedItem"
					ng-options="poi.poiName for poi in allPoi track by poi.poiId" ng-change="updateSort(selectedItem)">{{poi[0].poiName}}</select>
			</div>

			<ul class="tabbed-list">

				<li ng-if="openRequest.length == 0">No open requests for this
					point of interest</li>
			</ul>
			
		<!-- accordion used for display  -->	
		<div class="panel-group" id="accordionOpen">
			<div class="panel panel-default"  ng-repeat="offer in openOffer" style = "border: none">
				<div class="panel-heading" data-toggle="collapse" data-target = "#collapse{{offer.availRideId}}" >
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionOpen" href="#collapse{{offer.availRideId}}" target="_self" style="text-decoration:none">
						
					{{offer.car.user.fullName}} <em>@</em> {{offer.time | date: 'h:mm a MMM dd'}}<br/>
					{{offer.pickupPOI.poiName}}
					<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					{{offer.dropoffPOI.poiName}}
						
						</a>
					</h4>
				</div>
				<div id="collapse{{offer.availRideId}}" class="panel-collapse collapse">
					<div class="panel-body" data-toggle="collapse" data-target = "#collapse{{offer.availRideId}}" >
						
					<!-- Beginning of expanded portion -->
					Note: <i>{{offer.notes}} <span ng-show=" offer.notes == null"> N/A </span></i>

					<div class="btn-container">
						<button type="button" class="btn btn-primary"
							ng-click="acceptOffer(offer.availRideId)">Accept Offer</button>
					</div>
					<!-- End of expanded portion -->
						
					</div>
					
				</div>
				</div>
			</div>

		</div>

<!-- panel displays active/accepted rides for driver -->
		<div role="tabpanel" class="tab-pane" id="active">

			<!-- html and angular function used to display open rides -->
			<ul class="tabbed-list">
				<li ng-if="activeRides.length == 0">No active rides</li>
			</ul>
						
			<div class="panel-group" id="accordionActive">
			<div class="panel panel-default" ng-repeat="ride in activeRides" style = "border: none">
				<div class="panel-heading" data-toggle="collapse" data-target = "#collapseA{{ride.request.requestId}}" >
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionActive" href="#collapseA{{ride.request.requestId}}" target="_self" style="text-decoration:none">
						
							<em>@</em> {{ride.request.time | date: 'h:mm a MMM dd'}}
							<br/>

							{{ride.request.pickupLocation.poiName}}
							<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
							{{ride.request.dropOffLocation.poiName}}
						
						</a>
					</h4>
				</div>
				<div id="collapseA{{ride.request.requestId}}" class="panel-collapse collapse">
					<div class="panel-body" data-toggle="collapse" data-target = "#collapseA{{ride.request.requestId}}" >
						
							<em>Driver:</em>
									{{ride.availRide.car.user.fullName}}
									<span ng-show="ride.availRide.notes != null"> ( <i>{{request.notes}}</i> )</span>
									
						<div class="btn-container">
							<button type="submit" class="btn btn-primary"
								ng-click="requestCancel(ride.request.requestId)">Cancel Offer</button>
								
						</div>
						
						</div>
					</div>
					</div>
				</div>

		</div>

		<div role="tabpanel" class="tab-pane" id="history">
			
			
			<ul class="tabbed-list">
				<li ng-if="pastRides.length == 0">No past rides</li>
			</ul>

			<div class="panel-group" id="accordionPast">
			<div class="panel panel-default" ng-repeat="ride in pastRides" style = "border: none">
				<div class="panel-heading" data-toggle="collapse" data-target = "#collapseP{{ride.request.requestId}}" >
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionPast" href="#collapseP{{ride.request.requestId}}" target="_self" style="text-decoration:none">
						
						<em>@</em> {{ride.request.time | date: 'h:mm a MMM dd'}}
						<br/>

						{{ride.request.pickupPOI.poiName}}
						<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
						{{ride.request.dropoffPOI.poiName}}
						
						</a>
					</h4>
				</div>
				<div id="collapseP{{ride.request.requestId}}" class="panel-collapse collapse">
					<div class="panel-body" data-toggle="collapse" data-target = "#collapseP{{ride.request.requestId}}" >

							<em>Driver:</em>
									{{ride.availRide.user.fullName}}
									<span ng-show="ride.availRide.notes != null"> ( <i>{{request.notes}}</i> )</span>
						<br/>
						Complaint: <i>{{ride.complaint}} <span ng-show=" ride.complaint == null"> N/A </span></i>
						
					</div>
				</div>
				</div>
			</div>

		</div>
	</div>
</div>