<div id="map" style="height: 400px; width: 100%;"></div>

<div class="container">
	<div class="row">
		<div class="col">

			<div class="input-group">
				<span class="input-group-addon">Starting Point</span> <select
					id="fromPOI" class="form-control">
					<option ng-repeat="x in allMainPOI"
						ng-selected="start{{ x.poiId }}" id="{{ x.poiId - 1}}">{{
						x.poiName + " - " + x.addressLine1 }}</option>
				</select>
			</div>

			<div class="input-group">
				<span class="input-group-addon">Destination</span> <select
					id="toPOI" class="form-control">
					<option ng-repeat="x in allMainPOI"
						ng-selected="destination{{ x.poiId }}" id="{{ x.poiId - 1}}">{{
						x.poiName + " - " + x.addressLine1 }}</option>
				</select>
			</div>

		</div>
	</div>
</div>

<p id="display"></p>

<div class="container">
	<button ng-click="getActiveRequests()" class="btn btn-primary">Active
		Requests</button>
	<button ng-click="getRequestHistory()" class="btn btn-primary">Request
		History</button>
	<button ng-click="clearMapMarkers()" class="btn btn-primary">Clear
		Map</button>
	<button ng-click="showDirections()" class="btn btn-primary">Directions</button>
</div>

<script src="../js/googleMapAPI/markerclusterer.js"></script>
