<!--add new poi-->
<div class="container">
	<form id="addPoi-form">
		<input type="text" id="poiName" ng-model="poi.poiName" placeholder="Point of Interest Name" required>
		<input type="text" id="poiAddress1" ng-model="poi.addressLine1" placeholder="Address Line" required>
		<input type="text" id="poiAddress2" ng-model="poi.addressLine2" value="" placeholder="Address Line 2">
		<input type="text" id="poiCity" ng-model="poi.city" placeholder="City" required>
		<input type="text" id="poiState" ng-model="poi.state" placeholder="State" required>
		<!--not currently doing anything to check state abbreviations atm-->
		<input type="text" id="poiZipcode" ng-model="poi.zipCode" placeholder="Zip Code" required>
		<!--latitude/longitude taken when form address submitted-->
		<input type="number" id="poiLat" ng-model="poi.latitude" style="display: none">
		<input type="number" id="poiLng" ng-model="poi.longitude" style="display: none"> 
		Point of Interest Type
		<select id="poiType" ng-model="poi.type" ng-options="type.typeName for type in types" />
		<input type="submit" value="addPoi" ng-click="addPoi()">
	</form>
</div>
<!--clear form data after successful submit-->

<!--view all pois-->
<div class="panel-group" id="poiAccordian">
	<div class="panel panel-default"  ng-repeat="poi in allpois" style = "border: none">
		<div class="panel-heading" data-toggle="collapse" data-target = "#collapse{{poi.poiId}}" >
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#poiAccordian" href="#collapse{{poi.poiId}}" target="_self" style="text-decoration:none">
					{{poi.poiName}}
				</a>
			</h4>
		</div>
		<div id="collapse{{poi.poiId}}" class="panel-collapse collapse">
			<div class="panel-body" data-toggle="collapse" data-target = "#collapse{{poi.poiId}}" >
				
			<!-- Beginning of expanded portion -->
				<div class="row">
					<div class="pull-left">
					Address Line 1:<br>
					<!-- Use an ng-if here -->
					Address Line 2:<br>
					City:<br>
					State:<br>
					Zip:<br>
					Type:
					</div>
					<div class="col-xs-1"></div>
					<div class="pull-left">
					{{poi.addressLine1}} <br>
					<!-- Use an ng-if here -->
					{{poi.addressLine2}} <br>
					{{poi.city}}<br>
					{{poi.state}}<br>
					{{poi.zipCode}}<br>
					{{poi.type.typeName}}
					</div>
				</div>
				<div class="row">
					<button ng-click="openModal($index)" data-toggle="modal" data-target="#editPoiModal">Edit POI</button>
					<button ng-click="removePoi($index)">Remove POI</button>
				</div>
			<!-- End of expanded portion -->
				
			</div>
			
		</div>
	</div>
</div>

<!-- store current poi somewhere to save info, then allow edit of data and reset table  -->
<!--Edit Poi Modal -->
<div class="modal" id="editPoiModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Edit POI</h4>
			</div>
			<div class="modal-body">
				<form id="updatePoi-form">
					<input type="text" id="poiId" style="display:none">
					<input type="text" id="poiName" ng-model="newPoi.poiName">
					<input type="text" id="poiAddress1" ng-model="newPoi.addressLine1">
					<input type="text" id="poiAddress2" ng-model="newPoi.addressLine2">
					<input type="text" id="poiCity" ng-model="newPoi.city">
					<input type="text" id="poiState" ng-model="newPoi.state">
					<input type="text" id="poizipcode" ng-model="newPoi.zipCode">
					<input type="number" id="poiLat" style="display:none" ng-model="newPoi.latitude">
					<input type="number" id="poiLng" style="display:none" ng-model="newPoi.longitude">
					Point of Interest Type
					<select id="poiType" ng-model="newPoi.type" ng-options="type.typeName for type in types"/>
				</form>
			</div>
			<div class="modal-footer">
				<input type="button" value="Close" data-dismiss="modal"/>
				<input type="submit" value="Save Changes" ng-click="updatePoi()" data-dismiss="modal"/>
			</div>
		</div>
	</div>
</div>